<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestrookie.mapper.AttendanceMapper">
    <resultMap id="attendanceInfo" type="com.bestrookie.pojo.AttendancePojo">
        <id column="attendance_id" property="attendanceId"></id>
        <result column="user_id" property="userId"/>
        <result column="attendance_date" property="attendanceDate"/>
        <result column="attendance_times" property="attendanceTimes"/>
    </resultMap>
<!--    新增用户签到表-->
    <insert id="addAttendance" parameterType="com.bestrookie.pojo.AttendancePojo">
        INSERT INTO book_db.attendance (user_id,attendance_date,attendance_times) value (#{userId},#{attendanceDate},#{attendanceTimes})
    </insert>
<!--    根据用户id查询签到表-->
    <select id="queryAttendanceById"  resultMap="attendanceInfo">
        select * from book_db.attendance where user_id = #{userId}
    </select>
<!--    修改签到信息-->
    <update id="updateAttendance" parameterType="com.bestrookie.pojo.AttendancePojo">
        UPDATE book_db.attendance set attendance_date = #{attendancePojo.attendanceDate}, attendance_times = #{attendancePojo.attendanceTimes} where user_id = #{attendancePojo.userId}
    </update>
<!--    格式化签到表-->
    <delete id="deleteAllAttendance">
        DELETE FROM book_db.attendance Where 1 = 1
    </delete>
</mapper>