<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestrookie.mapper.NoticesReadMapper">
<!--    已读信息-->
    <resultMap id="readInfo" type="com.bestrookie.pojo.NoticesReadPojo">
        <id column="nr_id" property="nrId"></id>
        <result column="nr_date" property="nrDate"/>
        <result column="user_id" property="userId"/>
        <result column="notice_id" property="noticeId"/>
    </resultMap>
<!--    添加已读公告-->
    <insert id="addNoticeRead"  parameterType="com.bestrookie.pojo.NoticesReadPojo">
        INSERT INTO book_db.notices_read (nr_date,user_id,notice_id) VALUES
        (#{nrDate},#{userId},#{noticeId})
    </insert>
<!--    查询是否已读-->
    <select id="queryNoticesRead" resultType="int">
        SELECT COUNT(*) FROM book_db.notices_read WHERE user_id = #{userId} AND notice_id = #{noticeId}
    </select>
<!--    统计已读人数-->
    <select id="noticesReadNum" resultType="int">
        SELECT COUNT(*) FROM book_db.notices_read WHERE notice_id = #{noticeId}
    </select>
</mapper>