<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestrookie.mapper.UserMapper">
    <select id="queryUserByName" parameterType="String" resultMap="userInfo">
        select * from book_db.user where user_phone = #{phone}
    </select>
    <insert id="addUserInfo" parameterType="com.bestrookie.pojo.UserPojo" >
        INSERT INTO book_db.user (user_name,user_photo,user_password,user_phone) values (#{userName},#{image},#{password},#{userPhone})
    </insert>
    <update id="updateImage" parameterType="String">
        UPDATE book_db.user set user_photo = #{imageAddress} where  user_phone = #{phone}
    </update>
    <resultMap id="userInfo" type="UserPojo">
        <id column="user_id" property="userId"></id>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="password"/>
        <result column="user_photo" property="image"/>
        <result column="user_coin" property="userCoin"/>
        <result column="user_role" property="role"/>
        <result column="user_phone" property="userPhone"/>
    </resultMap>
</mapper>